name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Cache and install APT packages
      uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: libao-dev libavcodec-dev libavfilter-dev libavformat-dev libavutil-dev libcurl4-gnutls-dev libgcrypt20-dev libjson-c-dev libpth-dev libasound2-dev libwebsockets-dev pkg-config build-essential libblas-dev liblapack-dev
        version: 2.0
    - name: Build pianobar
      run: make

